@page "/todo"
@using System
@inject ITodoRepository _todoRepository;
<PageTitle>Todo</PageTitle>

@if(error){
<h2>
	Invalid
</h2>
}
@* form makes a postback and runs the code twice *@
@* <form class="" @onsubmit=Button> *@
	<label>
		Title
		<input type="text" placeholder="somethintg todo" @bind="todo.Title" />
	</label>

	<button class="btn" @onclick="Button">Add todo</button>
@* </form> *@


<h3>Todo (@_todoRepository.GetTodos().Count(todo => !todo.IsDone))</h3>

<ul>
	@foreach (var StoredTodo in _todoRepository.GetTodos())
	{
		<li>
			<input type="checkbox" @bind="StoredTodo.IsDone" />
			<input @bind="StoredTodo.Title" />
		</li>
	}
</ul>


@code {
	private TodoItem todo = new();
	private bool error = false;

	private void Button()
	{
		error = !_todoRepository.Add(todo);

		todo = new();
	}
}
