@page "/todo"
@using System
@using TodoList.Models
@using TodoList.Data
@inject ITodoRepository _todoRepository;

<PageTitle>Todo</PageTitle>

@if (error)
{
	<h2>Invalid</h2>
}
<div class="form-group">
	<div class="mb-3">
		<label for="TodoTitle" class="form-label">Title</label>
		<input type="text" class="form-control" id="TodoTitle" aria-describedby="TodoTitle" @bind="todo.Title">
		<div id="todoTitleHelp" class="form-text">Title</div>
	</div>

	<div class="mb-3">
		<label for="TodoTitle" class="form-label">Description</label>
		<textarea class="form-control" id="TodoDescription" aria-describedby="TodoDescription"
		@bind="todo.Description" />
		<div id="todoDescriptionHelp" class="form-text">Description</div>
	</div>

	<button class="btn btn-primary" @onclick="onAddButtonClick">Add todo</button>
</div>

<h3>Todos remaining: (@_todoRepository.GetTodos().Count(todo => !todo.IsDone))</h3>

<ul>
	@foreach (var StoredTodo in _todoRepository.GetTodos())
	{
		<li>
			<input ref="todoCheckbox" type="checkbox" bind="@StoredTodo.IsDone" @onchange="(e) => OnTodoCheckboxChanged(e, StoredTodo)"/>
			@* @checked="StoredTodo.IsDone" @onchange="(e) => OnTodoCheckboxChanged(e, StoredTodo)"/> *@
			<button class="btn btn-secondary" @onclick="() => onEditButtonClick(StoredTodo)">Edit</button>
			<input @bind="StoredTodo.Title" />
			<span>@StoredTodo.Status</span>
			<span>@StoredTodo.Description</span>
		</li>
	}
</ul>


@code {
	private TodoItem todo = new(){Id = Guid.NewGuid()};
	private bool error = false;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await Initialize();
			StateHasChanged();
		}
	}

	private async Task Initialize()
	{
		await _todoRepository.InitializeAsync();
	}

	private void onAddButtonClick()
	{
		error = !_todoRepository.AddOrUpdate(todo);

		todo = new();
	}

	private void onEditButtonClick(TodoItem selectedTodo)
	{
		todo = selectedTodo;
	}

	private void OnTodoCheckboxChanged(ChangeEventArgs e ,TodoItem todo)
	{
		//todo: not persisting status change
		todo.Status = (bool)e.Value ? TodoItemStatus.Done : TodoItemStatus.InProgress;
		_todoRepository.AddOrUpdate(todo);
		@* StateHasChanged(); *@
	}
}
